$primary: #b6ff00;
.wearable-background {
  background: url("/images/wearable/bg.gif") no-repeat center center;

  height: 100vh;
  width: 100vw;
  background-size: cover;
  //   left: 50%;
  //   transform: translateX(-50%);
  position: absolute;
  z-index: 1;
}

.wearable-card-container {
  position: relative;
  cursor: default;
  pointer-events: none;

  .button {
    top: 0;
    left: 0;
    // --background-color: url("/images/wearable/hero.png");
    --border-color: #7aab00;
    // --border-color: linear-gradient(to bottom right, red, blue);
    --border-width: 0.05em;
    --edge-size: 1rem;
    overflow: hidden;

    // cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0.5em 1.5em;
    border: 0;
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    clip-path: polygon(
      var(--edge-size) 0%,
      100% 0,
      100% calc(100% - var(--edge-size)),
      calc(100% - var(--edge-size)) 100%,
      0 100%,
      0% var(--edge-size)
    );
    transition: color 250ms;
  }

  button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--border-color);
    z-index: -2;
  }

  button::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--background-color) no-repeat center center;
    background-size: contain;
    z-index: -1;
    clip-path: polygon(
      // top left 1
      var(--border-width) calc(var(--edge-size) + var(--border-width) * 0.5),
      // top left 2
      calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width),
      // top right
      calc(100% - var(--border-width)) var(--border-width),
      //bottom right - 1
      calc(100% - var(--border-width))
        calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
      // bottom right - 2
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      // bottom left
      calc(var(--border-width)) calc(100% - var(--border-width))
    );
    transition: clip-path 500ms;
  }

  button:hover {
    color: white;
  }

  button:hover::after {
    // clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);

    clip-path: polygon(
      // top left 1
      calc(100% - var(--border-width))
        calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
      // top left 2
      calc(100% - var(--border-width)) var(--border-width),
      // top right
      calc(100% - var(--border-width)) var(--border-width),
      //bottom right - 1
      calc(100% - var(--border-width))
        calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
      // bottom right - 2
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      // bottom left
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width))
    );
  }
}
// cutting button
.cutting-button-container {
  .button {
    --border-width: 1rem;
    --edge-size: 1rem;
    cursor: pointer;

    clip-path: polygon(
      0 0,
      calc(100% - var(--edge-size)) 0,
      100% var(--edge-size),
      100% 100%,
      var(--edge-size) 100%,
      0 calc(100% - var(--edge-size))
    );

    transition: color 250ms;
  }

  div::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--border-color);
    z-index: -2;
  }
}

.wearable-card-container-v2 {
  position: relative;
  :first-child {
    position: absolute;
    z-index: 2;
  }
  :last-child {
    z-index: 1;
    position: absolute;
  }
}

.filter-icon:hover {
  background: linear-gradient(
    92.73deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.wearable-reset-button {
  --edge-size: 20%;
  clip-path: polygon(0 0, 93% 0, 100% 30%, 100% 100%, 7% 100%, 0 70%);
  .btn-text {
    // background: #7aab00;
    background: linear-gradient(
      92.73deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(32px);
  }
  .btn-icon {
    background: #202122;
    // background: #7aab00;

    backdrop-filter: blur(32px);
  }
}

.wearable-custom-scrollbar-container::-webkit-scrollbar {
  width: 7px;
  height: 10px !important;
  max-height: 10px !important;
}
.wearable-custom-scrollbar-container::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  // width: 5px;
  // background-clip: padding-box;
  border: 2px solid transparent;
}

.wearable-custom-scrollbar-container::-webkit-scrollbar-track {
  background-color: transparent;
}
// size down scroll thumb height

.wearable-download-btn-top {
  ::before {
    content: "";
    position: absolute;
    // inset: 0;
    width: 100%;
    height: 2px;
    background: $primary;
    left: 0;
    top: 0;
    // z-index: -2;
  }
}

.inventory-card-img-container {
  position: relative;
  transition: all 150ms ease-in-out;

  ::before {
    content: "";
    // position: absolute;
    inset: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    // width: 100%;
    // height: 100%;
    // visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    opacity: 0;
  }

  :hover {
    ::before {
      transition: all 150ms ease-in-out;
      content: "VIEW";
      position: absolute;
      z-index: 1;
      background: rgba(0, 0, 0, 0.5);
      opacity: 1;
    }
  }
}
